/*-----Body--------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
    /* Esto quita los bordes blancos de toda la pagina*/
    margin: 0px;
    padding: 0px;
    /*
    background-image: url('https://wallegend.net/preview/368.jpg');
    background-repeat: no-repeat;
    background-size: contain ;
    background-attachment: fixed;
    */
}

/*-----Elementos individuales--------------------------------------------------------------------------------------------------------------------------------*/
div .Contenedor {
    width: 400px;
    margin: auto;
}

div .Quote {
    background-color: hsl(0, 0%, 30%);
    border-radius: 4px;
    padding: 3px;

    font-size: 20px;
    font-style: italic;
    color: #fff;
    text-align: center;
}

/*-----IDs---------------------------------------------------------------------------------------------------------------------------------------------------*/
#Banner {
    /* Automaticamente ajusta el tamaño del banner para que ocupe toda la pagina horizontalmente */
    width: 100%;
    height: auto;
}

#Navbar-Icon {
    /* Ajusta el tamaño del icono de la navbar */
    width: 40px;
    padding: 10px;
    padding-right: 10px;
}

#Main-News {
    /* Caracteristicas del encabezado de la primera noticia o linea principal de la pagina */
    font-size: 60px;
    text-decoration: underline;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 5px;

    font-family: 'Playfair Display', serif;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
}

/*-----YokoVerse-Table---------------------------------------------------------------------------------------------------------------------------------------*/
#YokoVerse-Table {
    border: 2px solid;
    width: 95%;
    margin: auto;
}

#YokoVerse-Table .YokoVerse-Table-Header {
    font-size: 30px;
    font-style: italic;
    background-color: hsl(0, 70%, 50%);
}

#YokoVerse-Table tr td {
    text-align: center;
    background-color: #C7C3AB;
}

#YokoVerse-Table tr td embed {
    height: 270px;
}

#YokoVerse-Table img {
    height: 300px;
}

/*-----Clases------------------------------------------------------------------------------------------------------------------------------------------------*/
.Main-Body {
    margin-top: -20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: row; 
}

.Main-Content {
    margin-top: 20px;

    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;

    background-color: hwb(0 95% 5%);
    border-radius: 10px;
}

.navbar ul {
    list-style-type: none;
    background-color: #333333;
    display: flex;  
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
}

.navbar a {
    /* Son los elementos de la navbar */
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-inline: 15px;
}

.navbar a:hover {
    /* Como actuan los elementos de la navbar al pasar el cursor por encima */
    background-color: hsl(0, 0%, 0%);
    opacity: 0.8;
    transition: 0.3s;
}